@model IEnumerable<OnDemandHomeService.Models.Service>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Service Management";
}
<div class="container mt-3">

    <h3 class="text-center text-muted">Service List</h3>

    <a asp-action="CreateService" class="btn btn-success mb-3">
        Add Service
    </a>
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">
            @TempData["Success"]
        </div>
    }

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }

    <table class="table table-bordered">

        <thead>

            <tr>

                <th>Service Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Price</th>
                <th>Duration</th>
                <th>Status</th>
                <th>Action</th>

            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model)
            {

                <tr>

                    <td>@item.ServiceName</td>

                    <td>@item.Category?.CategoryName</td>

                    <td>@item.Description</td>

                    <td>@item.BasePrice</td>

                    <td>@item.DurationMinutes</td>

                    <td>

                        @if (item.IsActive)
                        {
                            <span class="badge bg-success">Active</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Inactive</span>
                        }

                    </td>
                    <td>

                        <!-- EDIT -->
                        <a class="btn btn-warning btn-sm"
                           asp-action="CreateService"
                           asp-controller="Provider"
                           asp-route-id="@item.ServiceId">
                            Edit
                        </a>

                        <!-- DELETE -->
                        <a class="btn btn-danger btn-sm"
                           asp-action="DeleteService"
                           asp-controller="Provider"
                           asp-route-id="@item.ServiceId"
                           onclick="return confirm('Are you sure you want to delete this service?');">
                            Delete
                        </a>

                    </td>

                </tr>

            }

        </tbody>

    </table>

</div>
